.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 2s ease-in-out;
  }

  .slider-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  .slider-text div a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(191, 220, 231);
    text-decoration: underline;

  }

  .slider-text div a:hover {
    /* text-decoration: underline; */
    font-size: 24px;
    font-weight: bolder;

  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
  }
  
  .slider-arrow.left {
    left: 10px;
  }
  
  .slider-arrow.right {
    right: 10px;
  }
  
  .slider-arrow:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  