.App {
  text-align: center;
}

/* mobile friendly */
* {
  touch-action: manipulation;
  /* Removes 300ms delay on mobile */
}

/* button, a {
  min-width: 48px;
  min-height: 48px;
  padding: 10px;
  cursor: pointer;
} */

/* end */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* new */

.container.with-sidebar .content {
  display: flex;
  flex-direction: row-reverse;
}

.container.with-sidebar main {
  margin-right: 240px;
}

.container.full-width main {
  margin-right: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}




.content {
  display: flex;
  flex: 1;
  overflow-y: auto;
  /* Allows scrolling */
}